.manage-doctor-chart {
    text-align: center;
    margin: 15px 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    box-sizing: border-box;
}
